{% extends 'core/base.html' %}


{% block contenido %}

<h2>Listado de automoviles</h2>


<table id="tablaAutos">

    <tr>
        <th>Patente</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Año</th>
        <th>Opciones</th>
    </tr>

    
</table>

<!--Primero preguntamos si es que existen mensaje que imprimir-->
{% if messages %}

    <!--si hay mensaje los imprimimos uno por uno-->

    {% for m in messages %}
    <h3>{{ m }}</h3>
    {% endfor %}

{% endif %}


{% endblock contenido %}